<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.Kims.Doctor_Reg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/doctor_registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.Kims.Doctor_Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/doctor_login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.Kims.Patient_Reg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/patient_registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>four</servlet-name>
<servlet-class>com.Kims.Patient_Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>four</servlet-name>
<url-pattern>/patient_login</url-pattern>
</servlet-mapping>
</web-app>